<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title></title>
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="">
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="shortcut icon" href="">
</head>
<body>

<h1>Gyotaku</h1>
<h3>This page enables you to make gyotaku from your pic.</h3>
<!-- <form action="/image" method="get">
    <input type="submit" value='next!'>
</form> -->
<form enctype="multipart/form-data">
    <input type="file" name="img">
    <button type="submit" formmethod="post">POST</button></p>
    {% if img_path %}
    <div>
    <img src="{{ img_path }}" style="width: 200px;">
    </div>
    <p>{{ img_path }}</p>
    {% endif %}
</form>
<!-- コンテンツを配置 -->

<!-- SCRIPTS -->
<!-- Example: <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
</body>
</html>